{% block aside %}
    <div class="sidebar">
        <div class="header">智能理赔风控</div>
        <div class="nav">
            <ul>
                <li class="list">
                    <h2><i></i>系统功能</h2>
                    <div class="hide1">
                        <a href="#"><h5>客户行为分析</h5></a>
                        <a href="/user_pre"><h5>客户预测分类</h5></a>
                        <a href="#"><h5>预测分类结果</h5></a>
                    </div>
                </li>
                <li class="list">
                    <h2><i></i>数据查询</h2>
                    <div class="hide1">
                        <a href="/reviewed_data"><h5>已审核数据</h5></a>
                        <a href="/review_data"><h5>未审核数据</h5></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}