{% block aside %}
    <div class="sidebar">
        <div class="header">智能理赔风控</div>
        <div class="nav">
            <ul>
                <li class="list">
                    <h2><i></i>功能界面</h2>
                    <div class="hide1">
                        <a href="#"><h5>数据表盘</h5></a>
                        <a href="/user_pre"><h5>客户预测分类</h5></a>
                        <a href="/rolled_steel_pre"><h5>预测分类结果</h5></a>
                    </div>
                </li>
                <li class="list">
                    <h2><i></i>查询数据</h2>
                    <div class="hide1">
                        <a href="/steel_slab_train"><h5>已审核数据</h5></a>
                        <a href="/steel_slab_test"><h5>未审核数据</h5></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}