<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "block/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--导航栏-->
            {% include "block/nav.html" %}
            {% block nav %}
            {% endblock %}
            <div class="row">
                <div class="col-md-2">
                    <!--左边栏-->
                    {% include "block/aside.html" %}
                    {% block aside %}
                    {% endblock %}
                </div>
                <div class="col-md-10">
                    <!--右边展示-->
                    {% block right %}
                    {% endblock %}
                </div>
            </div>
            {% include "block/bottom.html" %}
            {% block bottom %}
            {% endblock %}
        </div>
    </div>
</div>
<!--js 内容-->
{% block aside_js %}
    <script>
        (function () {
            var oList = document.querySelectorAll('.list h2'),
                oHide = document.querySelectorAll('.hide1'),
                oIcon = document.querySelectorAll('.list i'),
                lastIndex = 0;
            oHide[0].style.height = '160px';
            oIcon[0].className = 'on';
            oList[0].className = 'on';
            oList[0].isClick = true;
            for (var i = 0; i < oList.length; i++) {
                oList[i].index = i;//自定义属性
                oList[i].initHeight = oHide[i].clientHeight;

                oList[i].onclick = function () {
                    if (this.isClick) {
                        oHide[this.index].style.height = '0';
                        oIcon[this.index].className = '';
                        oList[this.index].className = '';
                        oList[this.index].isClick = false;
                    } else {
                        oHide[this.index].style.height = '160px';
                        oIcon[this.index].className = 'on';
                        oList[this.index].className = 'on';
                        oList[this.index].isClick = true;
                        lastIndex = this.index;
                    }
                }
            }
        })();
    </script>
{% endblock %}

{% block banner_js %}
{% endblock %}

{% block pre_js %}
{% endblock %}

</body>
</html>