{% extends "block/layout.html" %}

{% block head%}
    <link href="../static/css/mycss/banner-style.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block right %}
    <div class="right-main">
        <h1 class="page-header">欢迎使用本系统！</h1>
        <!--轮播图整体div-->
        <div class="banner">
            <!--无序列表承载轮播的图片-->
            <ul class="img">
                <li><a href="#"><img src="../static/img/banner1.jpg" alt="第1张图片"></a></li>
                <li><a href="#"><img src="../static/img/banner2.jpg" alt="第2张图片"></a></li>
            </ul>
            <!--用来放置圆点具体实施在js代码中呈现-->
            <ul class="num"></ul>
            <!--左右点击按钮-->
            <div class="btn">
                <span class="prev"><</span>
                <span class="next">></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block aside_js %}
    <script>
        (function () {
            var oList = document.querySelectorAll('.list h2'),
                oHide = document.querySelectorAll('.hide1'),
                oIcon = document.querySelectorAll('.list i'),
                lastIndex = 0;
            oHide[0].style.height = '160px';
            oIcon[0].className = 'on';
            oList[0].className = 'on';
            oList[0].isClick = true;

            for (var i = 0; i < oList.length; i++) {
                oList[i].index = i;//自定义属性
                oList[i].initHeight = oHide[i].clientHeight;

                oList[i].onclick = function () {
                    if (this.isClick) {
                        oHide[this.index].style.height = '0';
                        oIcon[this.index].className = '';
                        oList[this.index].className = '';
                        oList[this.index].isClick = false;
                    } else {
                        oHide[this.index].style.height = '160px';
                        oIcon[this.index].className = 'on';
                        oList[this.index].className = 'on';
                        oList[this.index].isClick = true;
                        lastIndex = this.index;
                    }
                }
            }
        })();
    </script>
{% endblock %}

{% block banner_js %}
    <script>
        //界面加载完毕执行以下程序
        $(function(){
            //定义i变量为动态控制图片轮播做准备，i的值与每张图片进行一一的对应
            var i=0;
            //时间变量，为自动轮播以及对光标的影响做出相应的反应
            var timer=null;
            //根据图片的张数动态添加圆点个数
            for (var j = 0; j < $('.img li').length; j++) {
                $('.num').append('<li></li>');
            }
            //默认情况下的第一个圆点进行背景设计
            $('.num li').first().addClass('active');
            //根据光标的影响控制按钮的显示和隐藏
            $('.banner').hover(function(){
                $('.btn').show();
            },function(){
                $('.btn').hide();
            });
            //将第一张图片复制并添加到img部分下与前五张图片相接
            var firstimg=$('.img li').first().clone(); //复制第一张图片
            $('.img').append(firstimg).width($('.img li').length*($('.img img').width()));
            //定时器自动轮播
            timer=setInterval(function(){
                i++;
                if (i==$('.img li').length) {
                    i=1;
                    $('.img').css({left:0});//保证无缝轮播，设置left值
                }
                //进行下一张图片
                $('.img').stop().animate({left:-i*800},1000);
                //圆点跟着变化
                if (i==$('.img li').length-1) {
                    $('.num li').eq(0).addClass('active').siblings().removeClass('active');
                }else{
                    $('.num li').eq(i).addClass('active').siblings().removeClass('active');
                }
            },2000);
            //鼠标移入，暂停自动播放，移出，开始自动播放
            $('.banner').hover(function(){
                clearInterval(timer);
            },function(){
                timer=setInterval(function(){
                    i++;
                    if (i==$('.img li').length) {
                        i=1;
                        $('.img').css({left:0});
                    };
                    //进行下一张图片
                    $('.img').stop().animate({left:-i*800},1000);
                    //圆点跟着变化
                    if (i==$('.img li').length-1) {
                        $('.num li').eq(0).addClass('active').siblings().removeClass('active');
                    }else{
                        $('.num li').eq(i).addClass('active').siblings().removeClass('active');
                    }
                },2000)
            });
            //上一个按钮
            $('.prev').click(function(){
                i--;
                if (i==-1) {
                    i=$('.img li').length-2;
                    $('.img').css({left:-($('.img li').length-1)*800});
                }
                $('.img').stop().animate({left:-i*800},1000);
                $('.num li').eq(i).addClass('active').siblings().removeClass('active');
            });
            // 下一个按钮
            $('.next').click(function(){
                i++;
                if (i==$('.img li').length) {
                    i=1; //这里不是i=0
                    $('.img').css({left:0});
                };
                $('.img').stop().animate({left:-i*800},1000);
                if (i==$('.img li').length-1) { //设置小圆点指示
                    $('.num li').eq(0).addClass('active').siblings().removeClass('active');
                }else{
                    $('.num li').eq(i).addClass('active').siblings().removeClass('active');
                };

            });
            //鼠标划入圆点
            $('.num li').mouseover(function(){
                var _index=$(this).index();
                //维持i变量控制的对应关系不变
                i = _index;
                $('.img').stop().animate({left:-_index*800},300);
                $('.num li').eq(_index).addClass('active').siblings().removeClass('active');
            });
        })
    </script>
{% endblock %}
