{% extends "block/layout.html" %}
{% block right %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">成材率历史数据</h1>
        <div class="row " style=" width: 1200px">
            <div class="col-lg-9">
                <div class="card" style="width: 1200px; height: 520px">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">序号</th>
                                <th scope="col">成材率</th>
                                <th scope="col">检验结果值允许的偏差范围</th>
                                <th scope="col">检验项目：非金属夹杂物</th>
                                <th scope="col">检验项目：显微组织</th>
                                <th scope="col">检验项目：力学性能</th>
                                <th scope="col">检验项目：低倍组织</th>
                                <th scope="col">成材组距</th>
                                <th scope="col">删除操作</th>
                                <th scope="col">编辑操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in datas %}
                                <tr style="text-align: center;">
                                    <th scope="row" style="text-align: center">{{ data[0] }}</th>
                                    <td>{{ data[1] }}</td>
                                    <td>{{ data[2] }}</td>
                                    <td>{{ data[3] }}</td>
                                    <td>{{ data[4] }}</td>
                                    <td>{{ data[5] }}</td>
                                    <td>{{ data[6] }}</td>
                                    <td>{{ data[7] }}</td>
                                    <td><a href="/rolled_steel_train_delete/{{ data[0] }}"><button class="btn btn-danger">删除数据</button></a></td>
                                    <td><a href="#"><button class="btn btn-warning">编辑数据</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--页码-->
            <nav aria-label="Page navigation" style="text-align: center">
                <ul class="pagination">
                    {{ html|safe }}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block aside_js %}
    <script>
        (function () {
            var oList = document.querySelectorAll('.list h2'),
                oHide = document.querySelectorAll('.hide1'),
                oIcon = document.querySelectorAll('.list i'),
                lastIndex = 0;
            for(var i=0;i<oList.length;i++){
                oList[i].index = i;//自定义属性
                oList[i].isClick = false;
                oList[i].initHeight = oHide[i].clientHeight;
                oHide[i].style.height = '0';

                lastIndex = 2;
                oHide[2].style.height = '160px';
                oIcon[2].className = 'on';
                oList[2].className = 'on';
                oList[2].isClick = true;

                oList[i].onclick = function () {
                    if(this.isClick){
                        oHide[this.index].style.height = '0';
                        oIcon[this.index].className = '';
                        oList[this.index].className = '';
                        oList[this.index].isClick = false;
                    }
                    else{
                        oHide[lastIndex].style.height = '0';
                        oIcon[lastIndex].className = '';
                        oList[lastIndex].className = '';
                        oHide[this.index].style.height = '160px';
                        oIcon[this.index].className = 'on';
                        oList[this.index].className = 'on';
                        oList[lastIndex].isClick = false;
                        oList[this.index].isClick = true;
                        lastIndex = this.index;
                    }
                }
            }
        })();
    </script>
{% endblock %}