/* 登录界面的样式 */
.page-login{
    height: 650px;
}
.loginForm {
    /*边框高度*/
    height: 350px;
    /*边框宽度*/
    width: 500px;
    /*边框颜色*/
    border: #4d4d4d solid 1px;
    /*边框圆角*/
    border-radius: 4px;
    /*阴影 水平方向，竖直方向，模糊距离*/
    box-shadow: 5px 5px 5px #4d4d4d;
    /*上边界距离*/
    margin-top: 120px;
    /*左边界距离：自动*/
    margin-left: auto;
    /*右边界距离：自动*/
    margin-right: auto;
    /*用户名、密码间距*/
    padding: 20px 40px;
}
/*将用户登录置于中间*/
.loginForm h2 {
    text-align: center;
}
/*修改button属性*/
.button-area {
    text-align: center;
    vertical-align: middle;
}
.button-area button{
    margin-left: 20px;
}