/* 预测界面的样式 */
.right-main .row h4 {
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.right-main .row h4 a {
    text-decoration: none;
    color: lightslategray;
}

.right-main form .row input {
    margin-left: 200px;
    margin-top: 3px;
}

.right-main form .row button {
    margin-right: 20px;
}

.right-main .card {
    width: 95%;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}

.right-main .card .table .thead {
    background-color: #f5f5ef;
}

.right-main .card .table thead th {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #f5f5ef;
}

.right-main .card .table tbody tr,
.right-main .card .table tbody tr .table-index {
    text-align: center;
}

.right-main .card .table tbody tr th,
.right-main .card .table tbody tr td {
    vertical-align: middle
}

.right-main .sub-pre .btn-cancel {
    float: right;
    margin-top: 0;
    margin-right: 200px;
    margin-bottom: 10px;
}

.right-main .sub-pre .btn-cancel a {
    color: white;
    text-decoration: none;
}

.right-main .sub-pre .btn-pre {
    float: right;
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 10px;
}

.pages {
    text-align: center;
}

.table-scroll {
    width: 95%;
    margin: 20px auto;
    text-align: center;
    overflow: auto;
}

/* 修改滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(rgb(245, 245, 239)));
    transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}